body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #107c10;
    color: white;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 40px 20px;
    background-image: url('https://images.unsplash.com/photo-1585620385456-4759f9b5c7d9?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8eGJveHxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

.products-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

article {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

article h3 {
    min-height: 2.5em;
}

button {
    background-color: #107c10;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0b580b;
}

.hero {
    text-align: center;
}

article button {
    margin-top: auto;
}

article img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 10px;
}

footer {
    padding: 5px 0;
    background-color: #333;
    color: white;
}

footer p {
    margin: 5px 0;
    line-height: 1;
    font-size: small;
}